
.zipcode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 110%;
  padding: 5px;
}

  .background-image{
    background-image: url("../../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: saturation;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    }
  h1{
    color : rgb(120, 120, 120);
    font : 3rem  "Roboto", sans-serif;
    vertical-align: middle;
    text-align: center;
  }
  
  h2 {
    color: rgb(255, 255, 255);
    font : 1.5rem "Roboto", sans-serif;
    text-align: center;
    vertical-align: middle;
  }
  .zipcode-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 110%;
    padding: 10px;
    color : rgb(255, 255, 255);
    font : 1  rem  "Roboto", sans-serif;
  }
  
  .zipcode-input,
  .zipcode-textarea {
    display: flex;
    text-align: center;
    vertical-align: middle;
    margin-top: 5px;
    font-size: 1rem;
    width: 45%;
    border: 1px solid var(--main-blue);
    border-radius: 2px;
    padding: 10px;
  }
  .zipcode-button{
    margin-top: -10px;
    width: 5%;
    background-color: rgb(219, 130, 22);
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 2px;
    padding: 5px;
  }
  .icon-css{
    color: white;
    font-size: 2rem;

  }
  .zipcode-textarea {
    height: 50px;
  }
  
  .zipcode-textarea::placeholder {
    font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
  }
  
  .zipcode-submit {
    display: flex;
    align-items: center;
    background: #fc7020;
    color: white;
    border-style: outset;
    border-color: #bdacab;
    height: 50px;
    width: 100px;
    font: bold15px arial,sans-serif;
    opacity: 0.9;
  }
 
  
  @media screen and (min-width: 799px) {
    .zipcode {
      display: flex;
      gap: 0.5vw 1vw;
      padding: 40px;
    }
  
    .zipcode-h2 {
      grid-area: header;
      text-align: center;
    }
  
    .zipcode-label {
      grid-area: label;
      margin: 0;
    }
  
    #zipcode {
      grid-area: zipcode;
    }
  
    .zipcode-textarea {
      height: 150px;
    }
  
    .zipcode-submit {
      grid-area: submit;
    }
  }