.sidebar-section {
    background-color: rgb(189, 229, 185);
    width: 100%;
  }
  
  @media screen and (min-width: 799px) {
    .sidebar-section {
      --offset-height: -80vh;
      width: 30vw;
      height: 80vh;
      margin: 0 auto;
      top: var(--offset-height);
      left: 70%;
      margin-left: 0vw;
      margin-bottom: var(--offset-height);
      position: relative;
      border-radius: 5px;
      overflow: scroll;
      box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.15);
    }
  }