.sidebar-section {
    background-color: rgb(189, 229, 185);
    width: 100%;
  }
  
  @media screen and (min-width: 799px) {
    .sidebar-section {
      --offset-height: -630px;
  
      display: grid;
      grid-template-columns: 3fr 1.5fr;
      width: 50vw;
      height: 650px;
      margin: 0 auto;
      top: var(--offset-height);
      left: 75%;
      margin-left: -10vw;
      margin-bottom: var(--offset-height);
      position: relative;
      border-radius: 5px;
      overflow: scroll;
      box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.15);
    }
  }